/* general styles */
body {
    margin:0;
    background-color: rgb(237,224,204);
    cursor: url(img/cursor.png), auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
button {
    background-color: rgb(189, 96, 84);
    border: none; 
    color: rgb(237,224,204);
    padding: 10px 16px; 
    text-decoration: none;
    font-family: giulia-plain, sans-serif;
    font-weight: 300;
    font-style: normal;
}
button:hover {
    background-color: rgb(182, 0, 0);
    cursor: url(img/pointer.png), auto; 
}

h2 {
    text-align: center;
    font-family: mythos-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: rgb(182, 0, 0);
}
h4 {
    text-align: center;
    font-family: mythos-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: rgb(182, 0, 0); 
}
.background_img {
    width:96%;
    height:92%;
    position: fixed;
    left:2%;
    top:4%;
    z-index: -2;
}

/* home page styles */
.home_button {
    position: absolute;
    background-color: rgba(190, 0,0, 0.4);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}
#home_sky_button {
    left:160px; top:160px;
    width:195px; height: 200px;
}
#home_land_button {
    left:460px; top:380px;
    width:195px; height: 200px;
}
#home_water_button {
    left:840px; top:500px;
    width:195px; height: 200px;
}
.home_button:hover{
    opacity: 1;
    cursor: url(img/pointer.png),auto;
}

h1 {
    text-align: center;
    font-family: mythos-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.2em;
    color: rgb(182, 0, 0);
    position: absolute;
    margin: 5%;
    right:0; top:0;
}

/* animal icons pages styles */
.animal_icons_container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width:70%;
    padding:12% 15%;
}
.left_icon {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 50%;
}
.left_icon:hover {
    background-color: rgb(189, 96, 84); 
    cursor: url(img/pointer.png), auto; 
}
.right_icon{
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 50%;
}
.right_icon:hover {
    background-color: rgb(189, 96, 84); 
    cursor: url(img/pointer.png), auto; 
}

.button_img{
    cursor:  url(img/pointer.png), auto; 
    height:400px;
    width:auto;
}

/* overpage styles */
#over_page {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    background-color: rgb(237,224,204);
    z-index: 2;
}
.story_container {
    margin:15%;
}
#story_title {
}
#story_content {
    text-indent: 40px;
    font-family: giulia-plain, sans-serif;
    font-weight: 300;
    font-style: normal;
}
#close_button{
    margin:5%; 
    font-size: 20px; 
    width:100%;
}
#back_icon {
    width:30px;
    height: auto;
    margin-right: 5px;
}

/* name list styles */
#name_list{
    position: fixed;
    height: 74vh;
    width: 80vw;
    top:13vh;
    left:13vw;
    text-align: center;
}
#name_list_title {
}
#name_list_container {
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.filler{
    margin:5px;
    font-size: 15px; 
    clip-path: polygon(7% 0%, 100% 0, 100% 100%, 7% 100%, 0% 80%, 0% 20%);
}
/* custermized scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(172, 165, 153); 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(189, 96, 84); 
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  rgb(182, 0, 0); 
}
::-webkit-scrollbar-track:hover {
    background:  rgb(197, 183, 161); 
}

